

.test{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
/* color: var(--body-text); */
  /* background: var(--bg-gradient); */
  background-image: url("../public/images/background.jpg");
  /* background: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #d4d4d4 0%, #9fadb8c1 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%); */
  height: 500vh;
  position: absolute;
  top: 0;
  /* opacity: .8; */
  /* mix-blend-mode:multiply; */
  /* filter: contrast(100%); */
  pointer-events: none;
  width: 100vw;
  background-size: cover;  
  background-repeat:   no-repeat;
  background-position: center center; 
  z-index: -2;
}

.test2{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
/* color: var(--body-text); */
  /* background: var(--bg-gradient); */
  background-image: url("../public/images/background.jpg");
  /* background: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #d4d4d4 0%, #9fadb8c1 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%); */
  height: 500vh;
  position: absolute;
  top: 490vh;
  /* opacity: .8; */
  /* mix-blend-mode:multiply; */
  /* filter: contrast(100%); */
  pointer-events: none;
  width: 100vw;
  background-size: cover;  
  background-repeat:   no-repeat;
  background-position: center center; 
  z-index: -2;
}

.figure {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 45vh;
  left: -15vw;
  /* width: 5%; */
  z-index: -2;
  /* -webkit-animation: spin 20s ease-in-out infinite;
  animation: spin 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode: multiply; */
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}
.figure2 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 60vh;
  left: 65vw;
  /* width: 15%; */
  z-index: 100;
  /* -webkit-animation: floatimageleft 20s ease-in-out infinite;
  animation: floatimageleft 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure3 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: -9vh;
  left: 35vw;
  width: 25%;
  z-index: -2;
  /* -webkit-animation: spin 20s ease-in-out infinite;
  animation: spin 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure4 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 13vh;
  left: 14vw;
  transform: rotate(66deg);
  width: 35%;
  z-index: 100;
  /* -webkit-animation: move-updown 20s ease-in-out infinite;
  animation: move-updown 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure5 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 30vh;
  left: 45vw;
  width: 35%;
  z-index: 1;
  /* width: clamp(144px,25vw,300px); */
  /* -webkit-animation: floatimageleft 20s ease-in-out infinite;
  animation: floatimageleft 20s ease-in-out infinite; */
  /* transform: rotate(66deg); */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure6 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 70vh;
  left: 10vw;
  width: 25%;
  z-index: 100;
  /* -webkit-animation: move-updown 20s ease-in-out infinite;
  animation: move-updown 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure7 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 70vh;
  left: 10vw;
  width: 15%;
  transform: rotate(66deg);
  z-index: 100;
  top: 23vh;
  left: 72vw;
  /* -webkit-animation: move-updown 20s ease-in-out infinite;
  animation: move-updown 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure8 {
  /* position: relative; */
   position: fixed ;
  max-width: 100%;
  /* position: absolute; */
  top: -15vh;
  left: -18vw;
  transform: rotate(66deg);
  /* width: 15%; */
  z-index: 100;
  /* -webkit-animation: move-updown 20s ease-in-out infinite;
  animation: move-updown 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}

.figure9 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 70vh;
  left: 10vw;
  /* width: 15%; */
  transform: rotate(66deg);
  z-index: 100;
  top: 23vh;
  left: 72vw;
  /* -webkit-animation: move-updown 20s ease-in-out infinite;
  animation: move-updown 20s ease-in-out infinite; */
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
}



@keyframes move-updown{
  0% {
    transform: translate(0);
}
50% {
    transform: translateY(120px);
}
100% {
    transform: translate(0);
}
}


@keyframes floatimageleft{
  0% {
    transform: translate(0) rotate(26deg);
}

50% {
    transform: translate(3px,-40px) rotate(26deg);
}
100% {
    transform: translate(0) rotate(26deg);
}
}


@keyframes spin{
  50% {
    transform: rotate(180deg);
}

100% {
    transform: rotate(1turn);
}
}

.headtext1{
  line-height: 55px;
  /* font-family: wtqc; */
  font-weight: 300;
  font-size: 44px;
  padding-bottom: 20px;
  color: white;
  z-index: 100;
}

.headtext2{
  line-height: 55px;
  /* font-family: wtqc; */
  font-weight: 300;
  font-size: 44px;
  padding-bottom: 20px;
  color: white;
  z-index: 100;
}

.flower1{
  position:relative;
  /* top: 23vh; */
  left: 52vw;
  z-index: 331;
  width: 60%;
  overflow: hidden;
  filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}


.bigimg{
  position:relative;
  z-index: -1;
  width: 100%;
  bottom: 100%;
  /* left: 5%; */
  /* transform: translate(-50%, -50%); */
  /* overflow: hidden; */
  /* filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255)); */
}

.blur{
  position:relative;
  z-index: 331;
  width: 150%;
  height: 100%;
  top: -25vh;
  left: -15%;
}


.containerflytext{
  font-size:5vh;
  top: -50vh;
  left: 0%;
  z-index: 331;
  position:relative;
  color: rgb(255, 102, 186);
  font-weight: 100;
  font-style: italic;
  overflow: hidden;
  width: 200vw;
}

/* .containerr {
  width: 100%;
  height: 1000px;
}

.square {
  position: absolute;
}

.square1 {
  width: 100px;
  height: 100px;
  background: red;
  top: 600px;
} */



.hscroll{ 
  font-size: 5vw;
  /* white-space: nowrap; */
  position: absolute;
}

.containerflyingimg{
  padding-top: 50vh;
  padding-left: 5rem;
  height: 100vh;
  z-index: 400;
  left: -40vw;
  position: absolute;
  /* height: 50vw; */
}


.Home_mainImage__t3Fy0{
  display: none !important;
}
/* .container{
  padding-top: 50vh;
  padding-left: 5rem;
  height: 100vh;
  width: 50%;
} */

.flyingimg{
  z-index: 1000;
  width: 200% !important;
  overflow: hidden;
}

.flyingtext{
  z-index: 1000;
  width: 200% !important;
  overflow: hidden;
}


.ranimgsec2{
  position:relative;
  z-index: 400;
  width: 80%;
  /* bottom: 100%; */
  /* height: 500vh; */
  position: absolute;
  top: 490vh;
  left: 40vw;
  overflow: hidden !important;
}

.ranimg2sec2{
  position:relative;
  z-index: 400;
  width: 50%;
  bottom: 100%;
  /* height: 500vh; */
  position: absolute;
  top: 650vh;
  left: 60vw;
}

.rantext2sec2{
  position:relative;
  z-index: 400;
  width: 50%;
  bottom: 100%;
  /* height: 500vh; */
  position: absolute;
  top: 680vh;
  left: 10vw;
  padding: 50px;
  color: red;
  font-weight: 300;
}

.rantext2sec2back{
  position:relative;
  z-index: 400;
  width: 70%;
  bottom: 100%;
  /* height: 500vh; */
  position: absolute;
  top: 670vh;
  left: 0vw;
  padding: 50px;
  /* opacity: 80%; */
  mix-blend-mode: hard-light;
}


/* .container {
  
  display: flex;
  justify-content: space-between;
}

.item {
  
  width: 20vw;
  background-color: red;
  max-width: 20%;
  height: 20vw;
  text-align: center;
  line-height: 20vw;
  font-size: 20vw;
  font-family: Arial;
  color: #ffffff;
} */



.containerproject {
  position: relative;
  text-align: center;
  color: white;
}

.titleofprojects{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 36px; */
font-weight: 300;
font-style: italic;
text-decoration: underline;
font-size: 67px;
width: 100%;
}

.titleofprojects:hover{
  /* mix-blend-mode: screen; */
}

.mainImage{
  width: 95%;
  -webkit-animation: animation1 10s ease-in-out infinite;
  animation: animation1 10s ease-in-out infinite;
  /* position: relative;
   top: 50%;
  left: 50%; */
}

.mainImage2{
  width: 95%;
  -webkit-animation: animation1 10s ease-in-out infinite;
  animation: animation1 10s ease-in-out infinite;
  /* position: relative;
   top: 50%;
  left: 50%; */
}


.containerproject2 {
  position: relative;
  text-align: center;
  color: white;
  position: relative;
  position: absolute;
  top: 500vh;
  left: 0vw;
  width: 70%;
}

.containerproject3 {
  position: relative;
  text-align: center;
  color: white;
  position: relative;
  position: absolute;
  top: 700vh;
  left: -20vw;
  width: 70%;
}



@keyframes animation1{

  0% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
}

@keyframes animation3 {
	0% {transform: matrix(1,0,0,1,0,0); opacity: 1; animation-timing-function: ease-in-out}
	100% {transform: matrix(0.9,0,0,0.9,0,0); opacity: 1; }
}


.container {
  /* padding: 0 2rem; */
}

.main {
  /* min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color:#eaeaea;
  /* position: absolute;
  bottom: 0;
  height: 900vh; */
}

.footer a {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; */
}

